@font-face {
  font-family: "NanumPenScript";
  src: url("/NanumPenScript-Regular.ttf");
}
html,
body {
  margin: 0px;
  width: 100%;
  background-color: rgb(244, 233, 233);
}
/* 배경색, 폭, 높이,중앙정렬, 그림자색 */
#root {
  background-color: rgb(202, 200, 200);
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 29px 10px;
  border: 1px solid rgb(223, 21, 21);
  padding: 15px;
}
body * {
  font-family: "NanumPenScript";
}
