body {
  padding: 100px;
  margin: 40px;
  border: 5px solid red;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  padding: 20px;
}
.controller {
  background-color: gray;
  padding: 10px;
}
.controller button {
  background-color: black;
  width: 50px;
  height: 40px;
  margin: 5px;
  border-radius: 30px;
  color: white;
  font-size: 1rem;
}
.controller button:hover {
  background-color: rgb(91, 90, 90);
}
